{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    "babel-plugin-espower",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties"
  ]
}